* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root > * {
  height: 100%;
}

/*  variables - reusable across the project */
:root {
  /* colors */
  --slack-color: #3a0838;
  --slack-color--dark: #340e36;
  --slack-color--light: #431e44;
  --slack-color--medium: #49254a;
  --slack-box-shadow--light: inset 0 0 0 1px rgb(104 74 104);
  --slack-box-shadow--medium: inset 0 0 0 1px rgb(154 134 155);
  --secondary: #ff7900;
  --blue: #00195c;
  --green: #00af7c;
  --dark-green: #007a5a;
  /* --green: #2BAC76; */
  --white: #fff;
  --lightgrey: #ececec;
  /* buttons */
  --buttonRadius: 8px;
  --buttonPadding: 10px 60px;
  /* cards */
  --cardRadius: 12px;
}

body {
  margin: 0;
  font-family: "Avenir-Roman", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  justify-content: space-between;
}
